@model List<gasl.Domain.Entities.Link>

<h1>Welcome to gasl!</h1>

<form asp-controller="Admin" asp-action="AddLink" data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#content">

    <input type="text" name="link">
    <input type="submit" value="add"/>
    
</form>

<div id="content">
    @Html.Partial("_Links", Model)
</div>